* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    font-family:Snell Roundhand, cursive;
}
body{
    background-image:url("../photos/shift.jpg");
    background-position:center center ;
    background-repeat:no-repeat ;
    background-size:cover;
}

input[type="submit"]{
    position:relative;
    font-size:20px;
    border:2px solid white ;
    width:100px;
    height:50px;
    padding: 10px ;
    display:inline;
    background-color:black;
    color: white;
    border:2px solid white ;
    border-radius: 10px  ;
    left:590px;
}
 input[name="filter"]{
    font-size:20px;
    border:2px solid white ;
    width:400px;
    margin-left: 20px;
    padding: 5px ;
    border-radius:0px 10px 10px 0px ;
    background-color:black;
    color: white;
}
table {
    margin:10px auto;
    color:white;
    width:1300px;
    font-size:20px;
    border-collapse:collapse;
    border:2px solid #262323;
}
tr {
    text-align:left;
}

th  {
    background-color:#009600 ;
    position:relative;
    padding:20px;
    color:black 
}
tr:nth-child(even){background-color: #545050 }
tr:nth-child(odd){background-color: #3D3A3A}
tr:hover {background-color: #999595 ; color:black}
td{
    padding:20px;  
}
/* ليس لها قيمة الان */
tr:focus , input:focus{
    background-color:aqua;
    box-shadow:0px 0px 10px #00E2E2 ,0px 0px 10px #1FC4C4 ,0px 0px 10px #00A0A0 ;
    color:black;
}
form > input {
    display:block;
    font-size:20px;
    border:2px solid white ;
    width:500px;
    height:50px;
    padding: 5px ;
    border-radius:0px 10px 10px 0px ;
    background-color:black;
    color: white;
    margin: auto  ;
    margin-bottom:10px;
    
}
label{
    position:relative ;
    color:white;
    font-size: 30px;
    left:420px;
    margin-bottom:10px;
}