* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    font-family:Snell Roundhand, cursive;
}
body{
    background-image:url("../photos/shift.jpg");
    background-repeat:no-repeat ;
    background-size:cover;
}

.header {
    background: #34933a;
    color:#fff;
    width: 100%;
    height: 150px ;
    position: relative;
    border:inset 3px black ;
    padding:20px;
    display:flex;
}


.header  h1 {
    position:relative;
    font-size:50px;
    font-family:cursive,Arial;
    text-align:center;
    margin :auto ;
    left:10px ;
    animation: fill 5s ease-in-out infinite .3s alternate ;
}
@keyframes fill {
    0% {
        transform: translate(0px);
        text-shadow:3px 4px 3px black ;
       
    }
      50% {
        transform: translate(200px);
        color:#630b29;
        text-shadow:3px 4px 3px white ;
    }
    100%
     {
        transform: translate(-200px);
         top:15%;
         text-shadow:3px 4px 3px black ;
     }
}
@keyframes backgroundBody
{
    0%{
        background-color: #e6f1ff;
    }
      10%{
        background-color:#cce4ff ;
    }
      20%{
        background-color: #b3d6ff;
    }
      30%{
        background-color:#99c9ff ;
    }
      40%{
        background-color: #4da0ff;
    }
      50%{
        background-color: #1a85ff;
    }  60%{
        background-color:#005fcc ;
    }
    
}
input[type="submit"]{
    position:relative;
    font-size:20px;
    border:2px solid white ;
    width:100px;
    height:50px;
    padding: 10px ;
    display:inline;
    background-color:black;
    color: white;
    border:2px solid white ;
    border-radius: 10px  ;
    left:10px;
}
input:focus{
    background-color:aqua;
    box-shadow:0px 0px 10px #00E2E2 ,0px 0px 10px #1FC4C4 ,0px 0px 10px #00A0A0 ;
    color:black;
}
form > input ,.Day{
    text-align: left;
    display:block;
    font-size:20px;
    border:2px solid white ;
    width:500px;
    height:50px;
    padding: 5px ;
    border-radius:0px 10px 10px 0px ;
    background-color:black;
    color: white;
    margin: 10px  ;
    margin-bottom:10px;
    
}
.time{
    position:relative ;
    color:white;
    font-size: 30px;
    left:10px;
    margin-bottom:10px;
}
  input[type="CheckBox"] {
   width: 320px;
   height: 20px;
   margin-left:20px;
}
  .selectCountery label {
  width: 20px;
  height: 10px;
  font-size: 20px;
  color:black ;
 }
 .multiselect-container {
  color:black;
 }
 fieldset {
  border:2px solid white ;
  background:#34933a ;
  width:50%;
  margin-left:20px;
  border-radius:50% 10%;
 }
 legend {
  color:#FFF ;
  font-weight:bold ;
 }
.TrainerList {
 left:60%;
 top:30%;
 width:500px;
 height:500px;
 display:block;
 position:absolute;
 text-align:center;
 overflow-y:scroll;
 overflow-x:hidden;
}
.list {
 width:500px;
 background-color:#63B900;;
 border:2px solid black ;
 padding:5px;
 font-size:30px;
 color: white ;
 position:relative;
 left:0;top:0;
 display:block;
 text-align:center;
 text-shadow:0px 0px 10px #003303,0px 0px 10px #047C0A,0px 0px 10px #00A508;
}
.Word {
 left:68%;
 width:300px;
 padding:5px;
 top:24%;
 color:black;
 background-color:green ;
 position:absolute;
 text-align:center;
 font-size:20px;
 border-radius:50% 50% 0% 0% ;
 transition: 5s ease-in-out ;
}
a{
 text-decoration:none;
}
.list:hover  {
 background:#70FF8F;
 color:black;
 transform:scale(1.1,1);
 
}