body{
    margin: 0;
}
* {
    box-sizing: border-box;
}
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}
header{
    background-color: #f1f1f1;
    
    width:auto;
    height: 100px;

}
#row:after {
    content: "";
    display: table;
    clear: both;
  }
  
#right{
    float: left;
    width: 15%;
    height: 475px;
}
#center{
    background-color: #f1f1f1;
    float: left;
    width: 70%;  
    height: 475px;
}
#pay{
    margin-top: 40px;
    margin-left: 400px;
    background-color: #4CAF50;
    border: none;
    height: 60px;
    width: 120px;
}
#pay:hover{
    background-color: #3e8e41;
}
#left{
    float: left;
    width: 15%;
    height: 475px;
}
#footer{
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    width: auto;
    height: 120px;
    bottom:0px;
}
