*{
  -webkit-box-sizing:border-box ;
  -moz-box-sizing:border-box ;
  -o-box-sizing:border-box ;
  box-sizing:border-box ;
  overflow-x:hidden;
  font-family:Snell Roundhand, cursive	;
}
 header,section,iframe{
    overflow:hidden;
}
body {
    margin: 0;
    background:black;
}
header
{
    width:100% ;
    padding:10px;
    margin:0px auto ;
    background-image:url("../photos/MemberBack1.gif");
    background-size:100% 500px;
    background-position:center;
    border: 3px solid #CCC;
    color:white ;
    text-align:center;
    font-size:30px;
}
img{
    display:block ;
    border-left:2px groove #DDD ;
}
header > img
{
    position: relative; 
    width: 200px;
    height: 200px;
    border:1px solid white ;
    border-radius:50% ;
    left:42%;
    top:20px;
}
iframe{
    position:relative;
    width:665px;
    height:665px;
    color:white;
    left:-10px;
    margin:auto ;
}
nav {
    width:100%;
    display:flex;
    background-color:#383333;
    font-size:20px;
    overflow:hidden;
    border:1px solid white ;
}
nav > a {
    padding:10px;
    text-decoration:none ;
    color:white ;
}
.help{
    position:relative;
    left:1111px;
    width:74px;
}
nav a:hover{
    background-color:#ddd;
    color:black;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
section {
  float: left;
  border:1px solid white;
  padding: 15px;
  width: 50%;
  text-align:center ;
  color:#5660BC;
  border-bottom:none;
}
.right{float:right}
.right , .left{
   width: 25%;
}
.content:after
{
    content: "";
    display: table;
    clear: both;
}
div >img {
    margin-top:20px;
    border:2px groove #DDD ;
}
.right > div
{
   float:right; 
   position: relative;
   overflow:hidden;
}
.left > div
{
   float:left; 
   position: relative;
   overflow:hidden;
}
.Center >div
{
    position:relative;
    margin-top:20px;
    font-size:30px;
}
.Center  img
{
    position:relative;
    margin-top:20px;
    font-size:30px;
}
h3 {
    position:relative ;
    top:-25px;
    width:665px;
    border-bottom:3px groove #474343 ;
    left:-10px;
    top:-50px;
}

.MemberSelections {
    margin-bottom:20px;
    color:white ;
    padding:5px ;
    width:100%;
    height:400px;
}
.MemberSelections  div  {
    display:inline-block;
    width:210px ;
    height:210px;
    margin-top:50px;
    font-size:30px;
    
    color:#FFFFFF;
    background: #009300 ;
    border:2px groove #005E07 ;
    
    border-radius:50% 50% ;
    z-index:55;
    font-weight:bold ;
    margin-left: 30px;
    box-shadow:0px 0px 10px #E9FF00 ,0px 0px 10px #B1C900 ,0px 0px 10px #E6FF2B ;
    text-shadow:0px 0px 10px #E9FF00 ,0px 0px 10px #B1C900 ,0px 0px 10px #E6FF2B ;

}
a{
 text-decoration: none ;
}


.MemberSelections  div:hover{
    background:#FF0050;
    border-color:#7C0008;
    box-shadow:0px 0px 10px #FF6363 ,0px 0px 10px #D60E36 ,0px 0px 10px red ;
    color:silver;
    text-shadow: 0px 0px 10px #141414 ,0px 0px 10px #0C0C0C ,0px 0px 10px #3D3D3D ;
}
h2{
    animation:2s color ease-in-out infinite  alternate
}
@keyframes color{
    0%{
        color:white;
        text-shadow: 0px 0px 10px #FF00D0 ,0px 0px 10px #FF00C3 ,0px 0px 10px #FF00C3 ;
    }
    100% {
        color:aqua;
        text-shadow: 0px 0px 10px #00E9FF ,0px 0px 10px #5EFCFF ,0px 0px 10px #005B70 ;
    }
}